<h1>Login or Create an Account</h1>
<div>
<h2>Registered Clients</h2>

    <%= form_tag '/sessions' do %>
        <%= label_tag :email%>
        <%= email_field_tag :email%>
        </br>
        </br>
        <%= label_tag :password%>
        <%= password_field_tag :password%>
        </br>
        </br>
    <%= submit_tag "Login"%>
<% end %>
</div>

<div>
<h2>New Clients</h2>
<p>
By creating an account with us, you will be able to make requests to our team.
</p>
<%= link_to 'Register', register_path %>
</div>
