<h1><%= current_user.company %>'s tickets</h1>


<div>
  <h2>Last Activity</h2>
  <% if @tickets %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Deadline</th>
          <th>Status</th>
          <th>Author</th>
          <!--<th></th>
          <th></th>-->
        </tr>
      </thead>

      <tbody>
        <% @ticket = code_comment_or_ticket %>
        
          <tr>
            <td><%= @ticket.title %></td>
            <td><%= @ticket.description %></td>
            <td><%= @ticket.deadline %></td>
            <td><%= @ticket.status %></td>
            <td><%= @ticket.user.name %> <%= @ticket.user.last_name %></td>
            <!--<td><%= link_to 'Show', @ticket %></td>
            <td><%= link_to 'Edit', edit_ticket_path(@ticket) %></td>
            <td><%= link_to 'Destroy', @ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
        
      </tbody>
    </table>
      <% if @ticket.last_comment != nil %>
        <h3>Last Comment:</h3>
        <%= @ticket.comments.last.body %>  - created at: <%= @ticket.comments.last.created_at %> by <%= @ticket.comments.last.user.name %> <%= @ticket.comments.last.user.last_name %>
      <% end %> 
    <% else %>
      <h3> Tickets are not generated yet. </h3>
  <% end %>
</div>

<br>

<div>
  <h2>Listing Tickets</h2>
  <% if @tickets %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Author</th>
          <!--<th>Status</th>
          <th></th>
          <th></th>
          <th></th>-->
        </tr>
      </thead>

      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= link_to ticket.title, ticket %></td>
            <td><%= ticket.description %></td>
            <td><%= ticket.user.name %> <%= ticket.user.last_name %></td>
            <!--<td><%= ticket.status %></td>
            <td><%= link_to 'Show', ticket %></td>
            <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
            <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3> You have not generated any tickets yet. </h3>
  <% end %>
</div>
<br>




